openapi: 3.0.0
info:
  title: Pancake CRM Internal Third Party API
  version: 1.0.0
  description: |
    **Internal use only.** API for other Pancake products (Botcake, Webcake, Storecake…) to read and
    write CRM data on behalf of a connected page.

    Base URL: `https://crm.pancake.vn/api/internal_third_party`

  contact:
    name: Pancake CRM Team
    email: support@pancake.vn
    url: 'https://zalo.me/0972273341'

servers:
  - url: 'https://crm.pancake.vn/api/internal_third_party'
    description: Production

security:
  - SecretKeyBearer: []
  - SecretKeyQuery: []

tags:
  - name: Workspaces
    description: Resolve the CRM workspaces a page or user has access to
  - name: Records
    description: Read and upsert records (lead, contact) of a connected page
  - name: Tickets
    description: Create tickets from a connected page
  - name: Tasks
    description: Create tasks from a connected page

paths:
  /workspaces:
    get:
      summary: List workspaces
      operationId: internalListWorkspaces
      tags:
        - Workspaces
      description: |
        - `page_id` — the workspace that page is connected to.
        - `user_id` — every workspace the user is a member of.

        Each workspace comes with its `tables`.
      x-codeSamples:
        - lang: bash
          label: cURL examples
          source: |
            # by page_id
            curl -G 'https://crm.pancake.vn/api/internal_third_party/workspaces' \
              -H 'Authorization: Bearer <secret_key>' \
              --data-urlencode 'page_id=104943019063372'

            # by user_id
            curl -G 'https://crm.pancake.vn/api/internal_third_party/workspaces' \
              -H 'Authorization: Bearer <secret_key>' \
              --data-urlencode 'user_id=4db4c09e-5fb6-47e7-a4d9-3ad49110155d'
      parameters:
        - $ref: '#/components/parameters/PageIdQuery'
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Workspace list returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  fallback:
                    type: string
                    example: with_data
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  '/{third_party}/{page_id}/records':
    get:
      summary: List records
      operationId: internalListRecords
      tags:
        - Records
      description: |
        - `record_id` — returns that single record.
        - Otherwise `filter` must contain `psid` or `page_customer_ids`, else `422 Missing psid`.

        `filter` is a JSON object and must be URL-encoded — `--data-urlencode` in the samples below
        handles it.
      x-codeSamples:
        - lang: bash
          label: cURL examples
          source: |
            # by psid
            curl -G 'https://crm.pancake.vn/api/internal_third_party/botcake/104943019063372/records' \
              -H 'Authorization: Bearer <secret_key>' \
              --data-urlencode 'table_name=contact' \
              --data-urlencode 'filter={"psid":"8342103555886651"}'

            # by page_customer_ids
            curl -G 'https://crm.pancake.vn/api/internal_third_party/botcake/104943019063372/records' \
              -H 'Authorization: Bearer <secret_key>' \
              --data-urlencode 'table_name=contact' \
              --data-urlencode 'filter={"page_customer_ids":["104943019063372_8342103555886651"]}'

            # by record_id
            curl -G 'https://crm.pancake.vn/api/internal_third_party/botcake/104943019063372/records' \
              -H 'Authorization: Bearer <secret_key>' \
              --data-urlencode 'table_name=contact' \
              --data-urlencode 'record_id=2f941efe-d9a3-4d9a-affe-e123b06b8a44'
      parameters:
        - $ref: '#/components/parameters/ThirdPartyPath'
        - $ref: '#/components/parameters/PageIdPath'
        - $ref: '#/components/parameters/TableNameQuery'
        - $ref: '#/components/parameters/RecordFilter'
        - $ref: '#/components/parameters/RecordIdQuery'
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Records returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  fallback:
                    type: string
                    example: with_data
                  data:
                    oneOf:
                      - title: Records List
                        type: object
                        description: Paginated list of records.
                        properties:
                          entries:
                            type: array
                            items:
                              $ref: '#/components/schemas/Record'
                          page_number:
                            type: integer
                            example: 1
                          page_size:
                            type: integer
                            example: 30
                          total_entries:
                            type: integer
                            example: 1
                          total_pages:
                            type: integer
                            example: 1
                      - $ref: '#/components/schemas/Record'
              examples:
                list:
                  summary: List by psid
                  value:
                    success: true
                    fallback: with_data
                    data:
                      entries:
                        - id: 2f941efe-d9a3-4d9a-affe-e123b06b8a44
                          name: Nguyễn Văn A
                          phone_number: '0972273341'
                      page_number: 1
                      page_size: 30
                      total_entries: 1
                      total_pages: 1
                single:
                  summary: Get by record_id
                  value:
                    success: true
                    fallback: with_data
                    data:
                      id: 2f941efe-d9a3-4d9a-affe-e123b06b8a44
                      name: Nguyễn Văn A
                      phone_number: '0972273341'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      summary: Upsert record
      operationId: internalUpsertRecord
      tags:
        - Records
      description: '`params.id` present ⇒ update, omitted ⇒ create.'
      parameters:
        - $ref: '#/components/parameters/ThirdPartyPath'
        - $ref: '#/components/parameters/PageIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - table_name
                - params
              properties:
                table_name:
                  description: Table of records.
                  type: string
                  enum: [lead, contact]
                  example: contact
                user_id:
                  description: CRM user UUID the upsert is attributed to.
                  type: string
                  format: uuid
                params:
                  $ref: '#/components/schemas/Record'
            example:
              table_name: contact
              user_id: 4db4c09e-5fb6-47e7-a4d9-3ad49110155d
              params:
                name: Nguyễn Văn A
                phone_number: '0972273341'
                email: a.nguyen@example.com
      responses:
        '200':
          description: Record upserted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  fallback:
                    type: string
                    example: with_data
                  data:
                    $ref: '#/components/schemas/Record'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/{third_party}/{page_id}/tickets':
    post:
      summary: Create ticket
      operationId: internalCreateTicket
      tags:
        - Tickets
      description: |
        Requires either `contact_id` or `contact` — neither ⇒ `422 Ticket must have either contact_id`.
        Fields go at the top level or under `params`.
      parameters:
        - $ref: '#/components/parameters/ThirdPartyPath'
        - $ref: '#/components/parameters/PageIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    user_id:
                      description: CRM user UUID recorded as the ticket's `creator_id`.
                      type: string
                      format: uuid
                    params:
                      description: Optional wrapper — when present, ticket fields are read from here instead of the top level.
                      $ref: '#/components/schemas/Ticket'
                - $ref: '#/components/schemas/Ticket'
            example:
              user_id: 4db4c09e-5fb6-47e7-a4d9-3ad49110155d
              title: Khách hỏi về tình trạng đơn hàng
              description: Khách nhắn qua Botcake, cần kiểm tra đơn #1234
              contact_id: 0c1649c6-2297-4835-9a68-8fdd1d348d8b
              priority: medium
              due_date: '2026-08-07T09:37:25'
              assignee_ids:
                - 4db4c09e-5fb6-47e7-a4d9-3ad49110155d
      responses:
        '200':
          description: Ticket created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  fallback:
                    type: string
                    example: with_data
                  data:
                    $ref: '#/components/schemas/Ticket'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/{third_party}/{page_id}/tasks':
    post:
      summary: Create task
      operationId: internalCreateTask
      tags:
        - Tasks
      description: |
        `name` and `due_at` are required. `record_id` + `table_name` link the task to a record.
        Fields go at the top level or under `params` / `data`.
      parameters:
        - $ref: '#/components/parameters/ThirdPartyPath'
        - $ref: '#/components/parameters/PageIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    user_id:
                      description: CRM user UUID recorded as the task's `creator_id`.
                      type: string
                      format: uuid
                    params:
                      description: Optional wrapper — when present, task fields are read from here instead of the top level. `data` is an alias.
                      $ref: '#/components/schemas/Task'
                - $ref: '#/components/schemas/Task'
            example:
              user_id: 4db4c09e-5fb6-47e7-a4d9-3ad49110155d
              name: Gọi lại tư vấn khách
              due_at: '2026-08-07T09:37:25'
              description: Khách để lại số qua Botcake, gọi lại trong ngày
              record_id: 2f941efe-d9a3-4d9a-affe-e123b06b8a44
              table_name: lead
              assignee_ids:
                - 4db4c09e-5fb6-47e7-a4d9-3ad49110155d
      responses:
        '200':
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  fallback:
                    type: string
                    example: with_data
                  data:
                    $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

components:
  securitySchemes:
    SecretKeyBearer:
      type: http
      scheme: bearer
      description: >-
        Third party secret key, sent as `Authorization: Bearer <secret_key>`.
        Contact the Pancake CRM team to register one.
    SecretKeyQuery:
      type: apiKey
      in: query
      name: secret_key
      description: Same secret key sent as a `secret_key` param (query string or body). Prefer the bearer header.

  parameters:
    ThirdPartyPath:
      name: third_party
      in: path
      required: true
      description: Must match the third party the secret key belongs to, otherwise `403`. Only `botcake` is enabled today.
      schema:
        type: string
        enum:
          - botcake
          - webcake
          - storecake
      example: botcake

    PageIdPath:
      name: page_id
      in: path
      required: true
      description: ID of the page (Facebook/Zalo/…) connected to a CRM workspace.
      schema:
        type: string
      example: '104943019063372'

    PageIdQuery:
      name: page_id
      in: query
      required: true
      description: |
        ID of a page connected to a CRM workspace. When provided, only that page's workspace is
        returned. Leave it empty when querying by `user_id`.
      schema:
        type: string
        default: '104943019063372'
      example: '104943019063372'

    UserId:
      name: user_id
      in: query
      required: false
      description: CRM user UUID the action is performed on behalf of. Must be a member of the workspace.
      schema:
        type: string
        format: uuid
      example: 4db4c09e-5fb6-47e7-a4d9-3ad49110155d

    TableNameQuery:
      name: table_name
      in: query
      required: true
      description: The table to read records from.
      schema:
        type: string
        enum: [lead, contact]
        default: contact
      example: contact

    RecordIdQuery:
      name: record_id
      in: query
      required: false
      description: Record ID. When provided, a single record is returned and `filter` is ignored.
      schema:
        type: string
        format: uuid
      example: 2f941efe-d9a3-4d9a-affe-e123b06b8a44

    RecordFilter:
      name: filter
      in: query
      required: true
      description: |
        JSON-encoded string or nested query params. Required when `record_id` is omitted, and must
        contain `psid` or `page_customer_ids`. Leave it empty when querying by `record_id`.

        - `psid` (string): Page-scoped ID of the customer.
        - `page_customer_ids` (string[]): Page customer IDs, formatted as `<page_id>_<page_customer_id>`.
        - `search_all` (string): Full-text search across text, phone and number fields.
        - `is_group` (boolean): `true` combines `fields` conditions with **OR**. Defaults to **AND**.
        - `fields` (array): Field conditions with `field_name`, `type`, `value`, `is_filter_exclude` —
          same shape as the public [Records API](https://crm.pancake.vn/developers).
      schema:
        type: string
        default: '{"psid":"8342103555886651"}'
      example: '{"psid":"8342103555886651"}'

    Page:
      name: page
      in: query
      required: false
      description: Page number for pagination (1-based).
      schema:
        type: integer
        default: 1

    PageSize:
      name: page_size
      in: query
      required: false
      description: Number of records returned per page. Capped at 1000.
      schema:
        type: integer
        default: 30
        maximum: 1000

  responses:
    Unauthorized:
      description: Missing or invalid secret key
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              message:
                type: string
          examples:
            missing:
              value:
                success: false
                message: Missing secret key
            invalid:
              value:
                success: false
                message: Invalid secret key

    Forbidden:
      description: Secret key belongs to a different third party. Empty response body.

    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              message:
                type: string
          examples:
            missing_page_id:
              value:
                success: false
                message: Missing page_id
            not_connected:
              value:
                success: false
                message: Page is not connected to any workspace
            missing_table_name:
              value:
                success: false
                message: Missing table_name
            missing_psid:
              value:
                success: false
                message: Missing psid
            user_workspace_not_found:
              value:
                success: false
                message: User workspace not found
            missing_contact:
              value:
                success: false
                message: Ticket must have either contact_id

  schemas:
    Workspace:
      title: Workspace
      type: object
      description: A CRM workspace with its table metadata.
      properties:
        id:
          type: integer
          example: 123
        name:
          type: string
          example: Pancake Demo
        avatar_url:
          type: string
          nullable: true
        timezone:
          type: string
          example: '7.0'
        currency:
          type: string
          example: VND
        user_workspace:
          description: The user's membership in this workspace. Only present when `user_id` is provided.
          type: object
          nullable: true
        tables:
          description: Tables of the workspace.
          type: array
          items:
            type: object
            properties:
              name:
                description: Machine name of the table, used as `table_name` in other endpoints.
                type: string
                example: contact
              label:
                description: Display label of the table.
                type: string
                example: Liên hệ
              fields:
                description: Field definitions of the table, including custom fields and their select options.
                type: array
                items:
                  type: object
              sections:
                description: Section (field group) definitions of the table.
                type: array
                items:
                  type: object

    Record:
      title: Record
      type: object
      description: |
        A record in the `lead` or `contact` table. Beyond the system fields below, a record also carries
        the workspace's custom fields — see `tables[].fields` from
        [List workspaces](#/operations/internalListWorkspaces).
      properties:
        id:
          description: Record ID. Provided on upsert ⇒ update; omitted ⇒ create.
          type: string
          format: uuid
        name:
          description: Record name.
          type: string
        phone_number:
          description: Record phone number.
          type: string
        email:
          description: Record owner email.
          type: string
        birthday:
          description: The customer's/lead's date of birth (ISO 8601 format).
          type: string
          format: date-time
        full_address:
          description: >-
            Full address. Recommended format: street number + street name, ward, district,
            city/province, country.
          type: string
          example: Số 126 Hàng Trống, Phường Hoàn Kiếm, Hà Nội, Việt Nam
        pancake_tags:
          description: Array of pancake tag IDs applied to this record.
          type: array
          items:
            type: string
          example: ['104943019063372_11']
        source:
          description: Array of IDs referencing the sources this record came from.
          type: array
          items:
            type: string
          example: ['-11']
        interested_product:
          description: Products the lead is interested in. Only applicable to `lead` records.
          type: array
          items:
            type: string
          example: ['Product A', 'Product B']
        owner:
          description: List of user IDs who own this record.
          type: array
          items:
            type: string
            format: uuid
        created_by:
          description: ID of the user who created the record.
          type: string
          format: uuid
          readOnly: true
        modified_by:
          description: ID of the user who last modified the record.
          type: string
          format: uuid
          readOnly: true
        created_on:
          description: The date and time when the record was created.
          type: string
          format: date-time
          readOnly: true
        modified_on:
          description: The date and time when the record was last modified.
          type: string
          format: date-time
          readOnly: true
      required:
        - name

    Ticket:
      title: Ticket
      type: object
      description: A ticket / issue / work item in a workspace.
      properties:
        id:
          type: string
          format: uuid
          example: b20d47ba-cc24-421c-92f6-f59da03b0ce4
          readOnly: true
        ticket_id:
          description: Human-readable ticket code, generated per workspace.
          type: string
          example: '00001'
          readOnly: true
        title:
          description: Ticket title.
          type: string
          example: Khách hỏi về tình trạng đơn hàng
        contact_id:
          description: ID of the linked `contact` record. Required unless `contact` is provided.
          type: string
          format: uuid
          example: 0c1649c6-2297-4835-9a68-8fdd1d348d8b
        contact:
          description: Contact payload to send instead of `contact_id` when the contact may not exist in CRM yet.
          allOf:
            - $ref: '#/components/schemas/Record'
        description:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
        category:
          type: string
          nullable: true
          example: order
        status:
          description: Status ID from the workspace's ticket status list.
          type: string
          nullable: true
        priority:
          type: string
          nullable: true
          example: medium
        due_date:
          description: The date and time when the ticket is due.
          type: string
          format: date-time
          nullable: true
          example: '2026-08-07T09:37:25'
        assignee_ids:
          description: User ID assigned to this ticket.
          type: array
          maxItems: 1
          items:
            type: string
            format: uuid
          example: ['4db4c09e-5fb6-47e7-a4d9-3ad49110155d']
        related_owner:
          description: User IDs of everyone else related to this ticket.
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        related_to:
          description: Additional records to link to this ticket, on top of `contact_id`.
          type: array
          items:
            type: object
            properties:
              table_name:
                type: string
                example: lead
              record_id:
                type: string
                format: uuid
            required:
              - table_name
              - record_id
        attachments:
          description: Attachments to store with the ticket.
          type: array
          items:
            type: object
        source:
          description: Array of IDs referencing the sources of this ticket.
          type: array
          items:
            type: string
          example: ['-11']
        extra_info:
          description: Dynamic custom fields defined by users.
          type: object
          additionalProperties: true
          nullable: true
        creator_id:
          description: ID of the user who created the ticket.
          type: string
          format: uuid
          nullable: true
          readOnly: true
        completed_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        record_relations:
          description: Records linked to this ticket (contact, lead, order, deal…).
          type: array
          items:
            type: object
          readOnly: true
        inserted_at:
          type: string
          format: date-time
          example: '2026-02-04T10:14:32.683430'
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2026-02-04T10:14:32.683430'
          readOnly: true
      required:
        - title

    Task:
      title: Task
      type: object
      description: A task (to-do / follow-up) in a workspace.
      properties:
        id:
          type: string
          format: uuid
          example: 9a2c8f10-1f1a-4a52-9c2e-3b7f1d4d8e21
          readOnly: true
        custom_id:
          description: Human-readable sequential ID of the task within the workspace.
          type: integer
          nullable: true
          readOnly: true
        name:
          description: Task name.
          type: string
          example: Gọi lại tư vấn khách
        due_at:
          description: The date and time when the task is due.
          type: string
          format: date-time
          example: '2026-08-07T09:37:25'
        record_id:
          description: Record to link the task to.
          type: string
          format: uuid
          nullable: true
        table_name:
          description: Table of the linked `record_id`.
          type: string
          enum: [lead, contact]
          example: lead
        description:
          type: string
          nullable: true
        category_id:
          description: Task category ID. Categories named `task.call` also schedule an appointment call.
          type: string
          format: uuid
          nullable: true
        status:
          description: Status ID from the workspace's task status list.
          type: string
          format: uuid
          nullable: true
        priority:
          description: Priority ID from the workspace's task priority list.
          type: string
          format: uuid
          nullable: true
        assignee_ids:
          type: array
          items:
            type: string
            format: uuid
          example: ['4db4c09e-5fb6-47e7-a4d9-3ad49110155d']
        related_owner:
          type: array
          nullable: true
          items:
            type: string
            format: uuid
        attachment:
          description: Attachment URLs of the task.
          type: array
          items:
            type: string
        completed:
          type: boolean
          default: false
        completed_at:
          type: string
          format: date-time
          nullable: true
        ref_id:
          description: External reference ID, useful for idempotent syncing from the third party.
          type: string
          nullable: true
        extra_infor:
          description: Dynamic custom fields defined by users.
          type: object
          additionalProperties: true
          nullable: true
        creator_id:
          description: ID of the user who created the task — the `user_id` sent in the request.
          type: string
          format: uuid
          nullable: true
          readOnly: true
        inserted_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
      required:
        - name
        - due_at
