swagger: '2.0'
schemes:
  - https
host: crm.pancake.vn/
basePath: /api
info:
  contact:
    email: support@pancake.vn
    name: Pancake CRM Team
    url: 'https://zalo.me/0972273341'
  description: API for retrieving page data, generating access tokens, and listing conversations on Pancake CRM.
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  title: CRM API Docs
  version: 2.0.0
  x-preferred: true
  x-providerName: pancake.vn

externalDocs:
  description: Pancake CRM API Documentation
  url: 'https://crm.pancake.vn/developers/'

consumes:
  - application/json
  - multipart/form-data

produces:
  - application/json

securityDefinitions:
  global:
    in: query
    name: api_key
    type: apiKey
    description: |
      API key is used to authenticate users when accessing the CRM API.

      You can generate an API key in Pancake CRM: Settings → Tools.

      The API key may be automatically disabled after a period of inactivity.

      ![How to get api key?](./assets/images/which-api-key.png)
security:
  - global: []

parameters:
  WorkspaceId:
    in: path
    name: workspace_id
    required: true
    type: integer
    description: The unique identifier of the workspace.

  TableName:
    in: path
    name: table_name
    required: true
    type: string
    description: The table of records.

  RecordFilter:
    in: query
    in: query
    name: filter
    schema:
      type: string
      example: '{"fields":[]}'
    description: |
      Array object filter:
        {
          "fields": [
            {
              "field_name": "phone_number",
              "type": "$having_value",
              "is_filter_exclude": false
            }
          ],
        }

  RecordIds:
    name: record_ids
    in: query
    required: true
    description: List of record IDs to delete
    schema:
      type: array
      items:
        type: string
        format: uuid
    style: form
    explode: true

  RecordViewId:
    in: query
    name: view_id
    schema:
      type: string
      example: all
    description: |
      View identifier.
      Use `all` to return data from all views.

  Since:
    name: since
    in: query
    required: false
    schema:
      type: integer
      format: int64
      example: 1672531200
    description: Start time in UNIX timestamp (UTC+0).

  Until:
    name: until
    in: query
    required: false
    schema:
      type: integer
      format: int64
      example: 1672531200
    description: Start time in UNIX timestamp (UTC+0).

  RecordId:
    description: The record ID
    in: query
    name: recordId
    required: true
    type: string

  Cursor:
    description: Next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceed the current page size. The expiration period for this token is 15 minutes.
    in: query
    name: cursor
    type: string

tags:
  - description: Upsert Record
    name: Record

paths:
  '/workspaces/{workspace_id}/{table_name}/records/':
    get:
      description: List all the records in table
      operationId: records
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordFilter'
        - $ref: '#/parameters/RecordViewId'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
        # - $ref: '#/parameters/Cursor'
      responses:
        '200':
          description: Record list returned
          schema:
            title: Records List
            type: object
            description: Records List
            properties:
              page_number:
                default: 1
                description: The page number of current results
                type: integer
              page_size:
                default: 30
                description: The number of records returned within a single API call
                enum:
                  - 30
                  - 50
                  - 100
                type: integer
              total_entries:
                description: The number of all records available across pages
                type: integer
              total_pages:
                description: The number of items returned on this page
                type: integer
              entries:
                description: List of record objects
                items:
                  properties:
                    id:
                      description: Record ID
                      format: uuid
                      type: string
                    name:
                      description: Record name
                      type: string
                    phone_number:
                      description: Record phone number
                      type: string
                    email:
                      description: Record owner email
                      type: string
                    owner:
                      description: List of user IDs who own this record
                      type: array
                      items:
                        type: string
                        format: uuid
                    extra_infor:
                      description: Dynamic custom fields defined by users
                      type: object
                      additionalProperties: true
                    additionalProperties:
                      description: User-defined custom fields
                      oneOf:
                        - type: string
                        - type: number
                        - type: boolean
                        - type: array
                        - type: object
                type: array
      summary: List records
      tags:
        - Records
  '/workspaces/{workspace_id}/{table_name}/records':
    get:
      description: Retrieve a sub account under the master account. <aside>Your account must be a master account and have this privilege to read sub accounts. Zoom only assigns this privilege to trusted partners</aside>.
      operationId: account
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordId'
      responses:
        '200':
          description: Record returned
          schema:
            title: Records List
            type: object
            description: Record object in record list
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              data:
                description: The record response
                $ref: '#/definitions/Record'
        # '404':
        #   description: User not found
      summary: Record
      tags:
        - Records
    post:
      description: Insert or update a record in current table. <aside>Your account must be a master account and have this privilege to create sub account. Zoom only assigns this privilege to trusted partners. The created user will not receive a confirmation email.</aside>.
      operationId: recordCreate
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - description: Upsert record.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: Record returned
          schema:
            title: Records List
            type: object
            description: Record object in record list
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              data:
                description: The record response
                $ref: '#/definitions/Record'
        # '404':
        #   description: "Record doesn't exist"
      summary: Upsert record
      tags:
        - Records
    delete:
      description: Disassociate a sub account from the master account. This will leave the account intact but the sub account will not longer be associated with the master account.
      operationId: accountDisassociate
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordIds'
      responses:
        '200':
          description: Records deleted successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indicates whether the delete operation was successful
              fallback:
                type: string
                example: 'success_only'
        # '404':
        #   description: Account not found
      summary: Delete records
      tags:
        - Records

definitions:
  Record:
    description: 'Creates a new record if it does not exist, otherwise updates the existing record based on a unique key'
    properties:
      id:
        description: Record ID
        format: uuid
        type: string
        description: >
          Record ID. If provided, the record will be updated.
          If omitted, a new record will be created.
      name:
        description: Record name
        type: string
      phone_number:
        description: Record phone number
        type: string
      email:
        description: Record owner email
        type: string
      created_by:
        description: ID of the user who created the record
        format: uuid
        type: string
      modified_by:
        description: ID of the user who last modified the record
        format: uuid
        type: string
      created_on:
        description: Record creation date/time
        format: date-time
        type: string
      modified_on:
        description: Record creation date/time
        format: date-time
        type: string
      owner:
        description: List of user IDs who own this record
        type: array
        items:
          type: string
          format: uuid
      extra_infor:
        description: Dynamic custom fields defined by users
        type: object
        additionalProperties: true
      additionalProperties:
        description: User-defined custom fields
        oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
          - type: object
    required:
      - name
    type: object
x-explorer-enabled: false