swagger: '2.0'
schemes:
  - https
host: crm.pancake.vn
basePath: /api
info:
  contact:
    email: support@pancake.vn
    name: Pancake CRM Team
    url: 'https://zalo.me/0972273341'
  description: API for retrieving, updating, and deleting records from Pancake CRM.
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  title: Pancake CRM API Docs
  version: 2.0.0
  x-preferred: true
  x-providerName: pancake.vn

externalDocs:
  description: Pancake CRM API Documentation
  url: 'https://crm.pancake.vn/developers/'

consumes:
  - application/json
  - multipart/form-data

produces:
  - application/json

securityDefinitions:
  global:
    in: query
    name: api_key
    type: apiKey
    description: |
      API key is used to authenticate users when accessing the CRM API.

      You can generate an API key in Pancake CRM: Settings → Tools.

      The API key may be automatically disabled after a period of inactivity.

      ![How to get api key?](./assets/images/which-api-key.png)
security:
  - global: []

parameters:
  WorkspaceId:
    in: path
    name: workspace_id
    required: true
    type: integer
    description: The unique identifier of the workspace.

  TableName:
    in: path
    name: table_name
    required: true
    type: string
    enum:
      - lead
      - account
      - contact
    description: |
      The table of records. Accepts one of:
      - `lead`
      - `account`
      - `contact`

  TableNameQuery:
    in: query
    name: table_name
    required: true
    type: string
    enum:
      - lead
      - account
      - contact
    description: |
      The table of records. Accepts one of:
      - `lead`
      - `account`
      - `contact`

  RecordFilter:
    in: query
    name: filter
    type: string
    example: '{"search_all":"","fields":[]}'
    description: |
      JSON-encoded filter object. Shape:

      ```json
      {
        "search_all": "0972273341",
        "is_group": false,
        "fields": [
          {
            "field_name": "phone_number",
            "type": "$having_value",
            "value": null,
            "is_filter_exclude": false
          }
        ]
      }
      ```

      Top-level properties:
      - `search_all` (string, optional): Global full-text search across all text, phone
        and number fields of the record (e.g. `name`, `phone_number`, `email`). Use this
        for a "search box" style lookup. When the value contains phone-like digits, it is
        also matched against phone fields.
      - `is_group` (boolean, optional): When `true`, the conditions in `fields` are
        combined with **OR** logic. When `false` or omitted, they are combined with
        **AND** (default).
      - `fields` (array, optional): List of field conditions. Each item contains:
        - `field_name` (string): Name of the field to filter on (e.g. `phone_number`,
          `name`, `email`).
        - `type` (string): Filter operator. Supported values:
          - `$having_value` — field has a value (not empty)
          - `$having_no_value` — field is empty
          - `$enter_value` — field equals / contains `value`
          - `$select_multi` — field matches any value in the `value` array
          - `$date_time` — field is within the `[from, to]` range given in `value`
          - `$greater_than`, `$less_than`, `$greater_than_equal`, `$less_than_equal` —
            numeric comparisons (pass the number as a string in `value`)
          - `$association` — field references one of the record IDs in `value`
          - `$duplicate` — field value is duplicated across records
        - `value` (any, optional): Value(s) to compare against. Type depends on the
          operator: a single value, a number-as-string, or an array. Omit (or `null`)
          for `$having_value` / `$having_no_value`.
        - `is_filter_exclude` (boolean, optional): When `true`, the condition is negated
          (NOT). Defaults to `false`.

  RecordIds:
    name: record_ids[]
    in: query
    required: true
    description: List of record IDs to delete
    type: array
    items:
      type: string
      format: uuid
    collectionFormat: multi

  RecordViewId:
    in: query
    name: view_id
    type: string
    example: all
    description: |
      View identifier.
      Use `all` to return data from all views.

  Since:
    name: since
    in: query
    required: false
    type: integer
    format: int64
    example: 1672531200
    description: Start time in UNIX timestamp (UTC+0).

  Until:
    name: until
    in: query
    required: false
    type: integer
    format: int64
    example: 1672531200
    description: End time in UNIX timestamp (UTC+0).

  RecordId:
    description: The record ID
    in: path
    name: record_id
    required: true
    type: string

  Cursor:
    description: Pagination cursor from the previous page. The cursor value is returned in the previous response.
    in: query
    name: cursor
    type: string
    example: "g2wAAAADYR5uBgCKPA7SnAFtAAAAJDJmOTQxZWZlLWQ5YTMtNGQ5YS1hZmZlLWUxMjNiMDZiOGE0NGo"

  TicketId:
    description: The ticket ID (UUID).
    in: path
    name: ticket_id
    required: true
    type: string
    format: uuid

  OrderId:
    description: The order ID (UUID).
    in: path
    name: id
    required: true
    type: string
    format: uuid

  ProductId:
    description: The product ID (UUID).
    in: path
    name: id
    required: true
    type: string
    format: uuid

  Page:
    description: Page number for pagination (1-based).
    in: query
    name: page
    required: false
    type: integer
    default: 1

  PageSize:
    description: Number of items returned per page.
    in: query
    name: page_size
    required: false
    type: integer
    default: 30

tags:
  - description: Manage records in a table
    name: Records
  - description: Manage tickets (tasks, issues, work items) in a workspace
    name: Tickets
  - description: Manage orders (sales orders and their line items) in a workspace
    name: Orders
  - description: Manage lead sources in a workspace
    name: Sources
  - description: Manage products in a workspace
    name: Products

paths:
  '/workspaces/{workspace_id}/{table_name}/records':
    get:
      description: |
        List records in a table. Only supports `lead`, `account`, `contact`.
      operationId: records
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordFilter'
        - $ref: '#/parameters/RecordViewId'
        - $ref: '#/parameters/Cursor'
      responses:
        '200':
          description: Record list returned
          schema:
            title: Records List
            type: object
            description: Records List
            properties:
              cursor:
                type: string
                description: Pagination cursor of the current page, used as a parameter to retrieve records from the next page
              # page_number:
              #   default: 1
              #   description: The page number of current results
              #   type: integer
              # page_size:
              #   default: 30
              #   description: The number of records returned within a single API call
              #   enum:
              #     - 30
              #     - 50
              #     - 100
              #   type: integer
              # total_entries:
              #   description: The number of all records available across pages
              #   type: integer
              # total_pages:
              #   description: The number of items returned on this page
              #   type: integer
              entries:
                description: List of record objects
                items:
                  $ref: '#/definitions/Record'
                type: array
      summary: List records
      tags:
        - Records
    post:
      description: |
        Insert or update a record in current table. Only supports `lead`, `account`, `contact`.
        <aside>Provide the record ID in the parameters to update an existing record. Otherwise, a new record will be created.</aside>
      operationId: recordCreate
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - description: Upsert record.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: Record upserted successfully
          schema:
            title: Upsert Response
            type: object
            description: Response object
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              data:
                description: The record object
                $ref: '#/definitions/Record'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            description: Error response object
            properties:
              success:
                description: Always false for error responses
                type: boolean
              message:
                type: object
        '422':
          description: "Customer information cannot be updated once it has been canceled, converted, or merged"
          schema:
            title: Response object
            type: object
            description: Response object
            properties:
              success:
                description: Always false for error responses
                type: boolean
              message:
                type: string
                enum:
                  - LEAD_CANNOT_UPDATE_FROM_CANCEL
        # '404':
        #   description: "Record doesn't exist"
      summary: Upsert record
      tags:
        - Records
    delete:
      summary: Delete records
      description: Remove multiple records from a table by record IDs. Only supports `lead`, `account`, `contact`.
      operationId: deleteRecords
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordIds'
      responses:
        '200':
          description: Records deleted successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indicates whether the delete operation was successful
              fallback:
                type: string
                example: 'success_only'
        # '404':
        #   description: Account not found
      tags:
        - Records
  '/workspaces/{workspace_id}/record/{record_id}':
    get:
      description: Retrieve a record by ID. Only supports `lead`, `account`, `contact`.
      operationId: record
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableNameQuery'
        - $ref: '#/parameters/RecordId'
      responses:
        '200':
          description: Record returned
          schema:
            title: Record Response
            type: object
            description: Single record response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: The record object
                $ref: '#/definitions/Record'
        # '404':
        #   description: User not found
      summary: Get record
      tags:
        - Records

  '/workspaces/{workspace_id}/products':
    get:
      description: |
        List products in a workspace, most recent first.

        By default each product variation is expanded into its own entry in `entries`
        (the variation's `id`, `custom_id`, `retail_price`, `import_price`,
        `remain_quantity`, `images` and `sort_variation_attributes` override the parent
        product's, and `product_id` points back to the parent). Pass `show_products=true`
        to return the parent products with their `variations` array instead of the flattened form.

        When `get_info=true` the response `data` is a paginated envelope
        (`entries`, `page_number`, `page_size`, `total_entries`, `total_pages`).
        Otherwise `data` is just the entries array.
      operationId: listProducts
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/Page'
        - $ref: '#/parameters/PageSize'
        - name: search
          in: query
          type: string
          required: false
          description: Free-text search. Matches product `name` or `custom_id` (case-insensitive).
        - name: ids
          in: query
          type: array
          collectionFormat: multi
          items:
            type: string
            format: uuid
          required: false
          description: Restrict the result to products whose `id` is in this list.
        - name: type
          in: query
          type: array
          collectionFormat: multi
          items:
            type: string
            enum:
              - product
              - service
              - service_package
          required: false
          description: |
            Filter by product `type`. Accepts one or more of `product`, `service`, `service_package`.
        - name: category_ids
          in: query
          type: array
          collectionFormat: multi
          items:
            type: string
            format: uuid
          required: false
          description: Return only products that belong to at least one of these categories.
        - name: filter
          in: query
          type: string
          required: false
          example: '{"fields":[]}'
          description: |
            JSON-encoded structured filter. Shape:

            ```json
            {
              "fields": [
                { "field_name": "retail_price", "type": "$greater_than", "value": 100000 },
                { "field_name": "type", "value": ["product"], "is_filter_exclude": false }
              ]
            }
            ```

            Supported `field_name` values: `type`, `category_ids`, `retail_price`,
            `import_price`, `remain_quantity`, `duration`, `images`.
            Supported comparison `type` values: `$greater_than`, `$less_than`,
            `$having_value`, `$having_no_value`. Omit `type` for an equality match
            (respecting `is_filter_exclude`).
        - name: show_products
          in: query
          type: string
          required: false
          enum:
            - "true"
            - "false"
          description: |
            When `"true"`, return parent products with a nested `variations` array.
            When omitted or `"false"` (default), each variation is expanded into its
            own entry (flattened view).
        - name: get_info
          in: query
          type: boolean
          required: false
          description: When `true`, wrap `data` in a paginated envelope with `total_entries` and `total_pages`.
        - name: module
          in: query
          type: string
          required: false
          description: |
            Optional module hint used by workspace-specific overrides
            (e.g. `calendar` on the POS-Sale workspace ignores the `type` filter).
      responses:
        '200':
          description: Products returned
          schema:
            title: Products List
            type: object
            description: Products list response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              fallback:
                type: string
                example: "with_data"
              data:
                description: |
                  When `get_info=true`, a paginated envelope. Otherwise the entries array directly.
                oneOf:
                  - type: array
                    items:
                      $ref: '#/definitions/Product'
                  - type: object
                    properties:
                      entries:
                        type: array
                        items:
                          $ref: '#/definitions/Product'
                      page_number:
                        type: integer
                        example: 1
                      page_size:
                        type: integer
                        example: 30
                      total_entries:
                        type: integer
                        example: 42
                      total_pages:
                        type: integer
                        example: 2
      summary: List products
      tags:
        - Products
    post:
      description: |
        Create a new product in the workspace.

        `type` defaults to `product` when omitted. Type-specific fields are stripped
        server-side: `service` drops `remain_quantity`, `service_package` drops
        `remain_quantity` and `duration`, and only `service_package` keeps
        `service_package_product`. Provide `variations` to create product variations
        in the same request; provide `service_package_product` (for `type: service_package`)
        to link component services with their quantities.
      operationId: createProduct
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - description: Product payload
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        '200':
          description: Product created successfully
          schema:
            title: Product Create Response
            type: object
            properties:
              success:
                type: boolean
              data:
                $ref: '#/definitions/Product'
        '422':
          description: Invalid product payload (validation failed or duplicate `custom_id`).
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message_code:
                type: string
                enum:
                  - unique_custom_id
                  - unknown_error
      summary: Create product
      tags:
        - Products

  '/workspaces/{workspace_id}/products/{id}':
    get:
      description: Retrieve a single product by ID.
      operationId: getProduct
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/ProductId'
      responses:
        '200':
          description: Product returned
          schema:
            title: Product Response
            type: object
            properties:
              success:
                type: boolean
              data:
                $ref: '#/definitions/Product'
        '404':
          description: Product not found
      summary: Get product
      tags:
        - Products
    put:
      description: |
        Update an existing product. The body must be wrapped in a `data` object and
        `data.id` must match the product to update (the same ID as in the URL).

        Passing `variations` replaces the product's variations: existing variations
        whose `custom_id` is not in the new list are deleted, matches are updated,
        and new entries are inserted. Passing `service_package_product` (only valid
        for `type: service_package`) fully replaces the linked service list.
      operationId: updateProduct
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/ProductId'
        - description: Product update payload
          in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/definitions/Product'
      responses:
        '200':
          description: Product updated successfully
          schema:
            title: Product Update Response
            type: object
            properties:
              success:
                type: boolean
              data:
                $ref: '#/definitions/Product'
        '404':
          description: Product not found
        '422':
          description: Invalid product payload (validation failed or duplicate `custom_id`).
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message_code:
                type: string
                enum:
                  - unique_custom_id
                  - unknown_error
      summary: Update product
      tags:
        - Products

  '/workspaces/{workspace_id}/orders':
    get:
      description: |
        List orders in a workspace, most recent first.

        Results are paginated using `page` / `page_size` (offset-based) and can be narrowed
        with `search` (matches order code `OD...`, custom ID, or billing phone number) and
        a structured `filter`. Only orders the current API key is allowed to see are returned.
      operationId: listOrders
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/Page'
        - $ref: '#/parameters/PageSize'
        - name: search
          in: query
          type: string
          required: false
          description: |
            Free-text search. Matches the order code (e.g. `OD00012` or `12`),
            the custom ID, or the billing phone number.
          example: "OD00012"
        - name: filter
          in: query
          type: string
          required: false
          example: '{"fields":[]}'
          description: |
            JSON-encoded structured filter. Shape:

            ```json
            {
              "fields": [
                { "field_name": "status", "value": ["new"], "is_filter_exclude": false }
              ]
            }
            ```

            Supported `field_name` values: `status`, `source_ids`, `contact`, `product`,
            `assigning_seller`, `created_by`, `cod`, `total_discount`, `created_on`, `modified_on`.
        - name: deal_id
          in: query
          type: string
          format: uuid
          required: false
          description: Return only orders linked to this deal (record relation of type `deal`).
      responses:
        '200':
          description: Orders returned
          schema:
            title: Orders List
            type: object
            description: Paginated orders list response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              fallback:
                type: string
                example: "with_data"
              data:
                type: object
                description: Paginated payload
                properties:
                  entries:
                    description: List of order objects
                    type: array
                    items:
                      $ref: '#/definitions/Order'
                  page_number:
                    type: integer
                    example: 1
                  page_size:
                    type: integer
                    example: 30
                  total_entries:
                    type: integer
                    example: 128
                  total_pages:
                    type: integer
                    example: 5
      summary: List orders
      tags:
        - Orders
    post:
      description: |
        Create a new order in the workspace.

        The order payload must be wrapped in an `order` object. An order must be linked to a
        contact: provide either an existing `contact_id`, or a `contact` object (with at least
        a `name`, and usually a `phone_number`) which will be upserted into the `contact` table
        and linked automatically. Order line items go in `order.items`; monetary totals
        (`total_quantity`, `total_discount`, `cod`, `prepaid`, …) are computed server-side from
        the items and payment fields.
      operationId: createOrder
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - description: Order body
          in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - order
            properties:
              order: &OrderInputSchema
                title: Order Input
                type: object
                description: |
                  Writable order payload (sent as the `order` field of the request body) used for both
                  create and update. Computed fields (`total_quantity`, `total_discount`, `cod`, `prepaid`,
                  `display_id`, timestamps) are derived server-side and should not be sent.
                properties:
                  contact:
                    description: |
                      Contact to link to the order. Provide an existing contact via `id`, or new contact
                      details (`name`, `phone_number`, `email`) to upsert and link automatically.
                      An order must resolve to a contact, so either `contact` or `contact_id` is required.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                        example: "Nguyễn Văn A"
                      phone_number:
                        type: string
                        example: "0972273341"
                      email:
                        type: string
                  contact_id:
                    description: ID of an existing contact record to link (alternative to `contact`).
                    type: string
                    format: uuid
                  account:
                    description: Account to link to the order (same upsert behaviour as `contact`).
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                  account_id:
                    description: ID of an existing account record to link.
                    type: string
                    format: uuid
                  deal_id:
                    description: ID of a deal to link this order to (creates a `deal` record relation).
                    type: string
                    format: uuid
                  calendar_id:
                    description: ID of a calendar event to link this order to.
                    type: string
                    format: uuid
                  status:
                    description: Order status. Defaults to `new` when omitted on create.
                    type: string
                    example: "new"
                  custom_id:
                    description: Custom order code.
                    type: string
                    example: "OD00012"
                  bill_phone_number:
                    description: Billing phone number. Defaults to the linked contact's phone number.
                    type: string
                  assigning_seller_id:
                    description: ID of the seller assigned to the order.
                    type: string
                    format: uuid
                  related_owner:
                    description: Additional owner user IDs.
                    type: array
                    items:
                      type: string
                      format: uuid
                  note:
                    description: Free-text note.
                    type: string
                  note_image:
                    description: Image URLs for the note.
                    type: array
                    items:
                      type: string
                  discount:
                    description: Order-level discount amount.
                    type: integer
                  transfer_money:
                    description: Amount paid by bank transfer.
                    type: integer
                  surcharge:
                    description: Surcharge added to the order.
                    type: integer
                  deposit:
                    description: Deposit amount paid up front.
                    type: integer
                  cash:
                    description: Cash amount paid.
                    type: integer
                  source_ids:
                    description: Source IDs to attribute the order to.
                    type: array
                    items:
                      type: string
                  is_removed:
                    description: Set to `true` to soft-delete the order.
                    type: boolean
                  extra_infor:
                    description: Dynamic custom fields.
                    type: object
                    additionalProperties: true
                  items:
                    description: Line items for the order.
                    type: array
                    items:
                      title: Order Item Input
                      type: object
                      description: A line item in a create/update order request.
                      properties:
                        id:
                          description: |
                            Existing order-item ID (UUID). Provide on update to modify an existing line item;
                            omit to add a new one. Existing items not present in the request are removed.
                          type: string
                          format: uuid
                        product_id:
                          description: Product ID for the line item. `id` is accepted as an alias.
                          type: string
                          format: uuid
                        quantity:
                          description: Quantity ordered.
                          type: integer
                          example: 2
                        price:
                          description: Unit price.
                          type: integer
                          example: 75000
                        total:
                          description: Line total. Defaults to `price * quantity` when omitted or 0.
                          type: integer
                        discount:
                          description: Per-unit discount.
                          type: integer
                        name:
                          description: Product/variation display name (snapshotted into `variation_info`).
                          type: string
                        import_price:
                          description: Import/cost price (snapshotted into `variation_info`).
                          type: integer
                        images:
                          description: Product image URLs (snapshotted into `variation_info`).
                          type: array
                          items:
                            type: string
                        category_ids:
                          description: Category IDs (snapshotted into `variation_info`).
                          type: array
                          items:
                            type: integer
                        type:
                          description: Item type (e.g. product vs service).
                          type: string
                        start_time:
                          description: Service start time.
                          type: string
                          format: date-time
                        end_time:
                          description: Service end time.
                          type: string
                          format: date-time
                        duration:
                          description: Service duration in days.
                          type: integer
                      required:
                        - quantity
                        - price
      responses:
        '200':
          description: Order created successfully
          schema:
            title: Order Create Response
            type: object
            description: Response object after creating an order
            properties:
              success:
                description: Indicates whether the create operation was successful
                type: boolean
              fallback:
                type: string
                example: "with_data"
              data:
                description: The created order object
                $ref: '#/definitions/Order'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            description: Error response object
            properties:
              success:
                description: Always false for error responses
                type: boolean
              message:
                type: object
        '422':
          description: "Invalid order payload (e.g. missing contact)"
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Create order
      tags:
        - Orders

  '/workspaces/{workspace_id}/orders/{id}':
    get:
      description: Retrieve a single order by ID, including its line items and related records.
      operationId: getOrder
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/OrderId'
      responses:
        '200':
          description: Order returned
          schema:
            title: Order Response
            type: object
            description: Single order response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              fallback:
                type: string
                example: "with_data"
              data:
                description: The order object
                $ref: '#/definitions/Order'
        '404':
          description: Order not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Get order
      tags:
        - Orders
    put:
      description: |
        Update an existing order by ID. The payload must be wrapped in an `order` object and
        follows the same shape as create. Only provided fields are changed.

        Line items in `order.items` are reconciled: items with an existing `item_id` are
        updated, items without one are inserted, and existing items omitted from the list are
        removed. To soft-delete an order, send `order.is_removed = true`.
      operationId: updateOrder
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/OrderId'
        - description: Order fields to update
          in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - order
            properties:
              order: *OrderInputSchema
      responses:
        '200':
          description: Order updated successfully
          schema:
            title: Order Update Response
            type: object
            description: Response object after updating an order
            properties:
              success:
                description: Indicates whether the update operation was successful
                type: boolean
              fallback:
                type: string
                example: "with_data"
              data:
                description: The updated order object
                $ref: '#/definitions/Order'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: object
        '404':
          description: Order not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Update order
      tags:
        - Orders

  '/workspaces/{workspace_id}/tickets':
    get:
      description: List all the tickets in a workspace.
      operationId: listTickets
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/Cursor'
      responses:
        '200':
          description: Tickets returned
          schema:
            title: Tickets List
            type: object
            description: Tickets list response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              entries:
                description: List of ticket objects
                items:
                  $ref: '#/definitions/Ticket'
                type: array
      summary: List tickets
      tags:
        - Tickets
    post:
      description: |
        Create a new ticket in the workspace.

        Each ticket must be linked to a contact.
      operationId: createTicket
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - description: Ticket body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Ticket'
      responses:
        '200':
          description: Ticket created successfully
          schema:
            title: Ticket Create Response
            type: object
            description: Response object after creating a ticket
            properties:
              success:
                description: Indicates whether the create operation was successful
                type: boolean
              data:
                description: The created ticket object
                $ref: '#/definitions/Ticket'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            description: Error response object
            properties:
              success:
                description: Always false for error responses
                type: boolean
              message:
                type: object
        '422':
          description: "Invalid ticket payload"
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Create ticket
      tags:
        - Tickets

  '/workspaces/{workspace_id}/tickets/{ticket_id}':
    get:
      description: Retrieve a ticket by ID.
      operationId: getTicket
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TicketId'
      responses:
        '200':
          description: Ticket returned
          schema:
            title: Ticket Response
            type: object
            description: Single ticket response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: The ticket object
                $ref: '#/definitions/Ticket'
        '404':
          description: Ticket not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Get ticket
      tags:
        - Tickets
    put:
      description: Update an existing ticket by ID. Only provided fields will be updated.
      operationId: updateTicket
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TicketId'
        - description: Ticket fields to update
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Ticket'
      responses:
        '200':
          description: Ticket updated successfully
          schema:
            title: Ticket Update Response
            type: object
            description: Response object after updating a ticket
            properties:
              success:
                description: Indicates whether the update operation was successful
                type: boolean
              data:
                description: The updated ticket object
                $ref: '#/definitions/Ticket'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: object
        '404':
          description: Ticket not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Update ticket
      tags:
        - Tickets
    delete:
      description: Delete a ticket by ID.
      operationId: deleteTicket
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TicketId'
      responses:
        '200':
          description: Ticket deleted successfully
          schema:
            title: Ticket Delete Response
            type: object
            properties:
              success:
                type: boolean
                description: Indicates whether the delete operation was successful
        '404':
          description: Ticket not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Delete ticket
      tags:
        - Tickets

  '/workspaces/{workspace_id}/sources':
    get:
      description: List all the sources in workspace
      operationId: source
      parameters:
        - $ref: '#/parameters/WorkspaceId'
      responses:
        '200':
          description: Sources returned
          schema:
            title: Source List
            type: object
            description: Source object in source list
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: List of source objects
                items:
                  $ref: '#/definitions/Source'
                type: array
        # '404':
        #   description: User not found
      summary: Sources
      tags:
        - Sources

  '/workspaces/{workspace_id}/pages/pancake_tags':
    get:
      description: List all the pancake tags in workspace
      operationId: listPancakeTags
      parameters:
        - $ref: '#/parameters/WorkspaceId'
      responses:
        '200':
          description: Pancake tags returned
          schema:
            title: Pancake Tag List
            type: object
            description: Pancake tag list response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: List of pancake tag objects
                items:
                  $ref: '#/definitions/PancakeTag'
                type: array
        # '404':
        #   description: User not found
      summary: List pancake tags
      tags:
        - PancakeTags

definitions:
  Record:
    description: 'Creates a new record if it does not exist, otherwise updates the existing record based on a unique key'
    properties:
      id:
        description: >
          Record ID. If provided, the record will be updated.
          If omitted, a new record will be created.
        format: uuid
        type: string
      name:
        description: Record name
        type: string
      phone_number:
        description: Record phone number
        type: string
      email:
        description: Record owner email
        type: string
      birthday:
        description: The customer's/lead's date of birth (ISO 8601 format).
        format: date-time
        type: string
      pancake_tags:
        type: array
        items:
          $ref: '#/definitions/PancakeTag/properties/id'
        description: |
          Array of pancake tag IDs applied to this record.
          [Pancake Tag schema](#/schemas/PancakeTag)
        example: ["104943019063372_11"]
      source:
        type: array
        items:
          type: integer
          # format: integer
          $ref: '#/definitions/Source/properties/id'
        description: |
          Array of integer IDs referencing the sources this lead came from.
          [Source schema](#/schemas/Source)
        example: ["-11"]
      full_address:
        type: string
        description: |
          The full address of the lead/customer.

          This field stores the complete physical or mailing address associated with the lead record.
          It is typically used for:
          - Delivery/shipping purposes
          - Location-based segmentation or targeting
          - Compliance and reporting (e.g., geographic analytics)
          - Contact verification

          Recommended format (Vietnam common style):
          - Street number + Street name, Ward/Commune, District, City/Province, Country
        example:
          "Số 126 Hàng Trống, Phường Hoàn Kiếm, Hà Nội, Việt Nam"
      created_by:
        description: ID of the user who created the record
        format: uuid
        type: string
      modified_by:
        description: ID of the user who last modified the record
        format: uuid
        type: string
      created_on:
        description: The date and time when the record was created.
        format: date-time
        type: string
      modified_on:
        description: The date and time when the record was last modified.
        format: date-time
        type: string
      owner:
        description: List of user IDs who own this record
        type: array
        items:
          type: string
          format: uuid
      interested_product:
        description: Products the lead is interested in. Only applicable to lead records (table_name = "lead"). Will not be present for account or contact records.
        type: array
        items:
          type: string
        example: ["Product A", "Product B"]
    required:
      - name
    type: object

  # Product:
  #   description: 'A product in the workspace'
  #   type: object
  #   properties:
  #     id:
  #       description: Product ID (UUID)
  #       format: uuid
  #       type: string
  #     name:
  #       description: Product name
  #       type: string
  #     type:
  #       description: Product type/category
  #       type: string
  #     display_id:
  #       description: Human-readable sequential ID of the product within the workspace
  #       type: integer
  #     custom_id:
  #       description: Custom product identifier
  #       type: string
  #       nullable: true
  #     category_ids:
  #       description: Array of category IDs this product belongs to
  #       type: array
  #       items:
  #         type: string
  #         format: uuid
  #     images:
  #       description: Array of product image URLs
  #       type: array
  #       items:
  #         type: string
  #       example:
  #         - "https://content.pancake.vn/2-25/s100x100/2025/9/22/cc3819d7a9df512eba67f1da7ab5eb698c6d951c.jpg"
  #     description:
  #       description: Product description
  #       type: string
  #       nullable: true
  #     import_price:
  #       description: Product import/cost price in cents
  #       type: integer
  #       default: 0
  #     retail_price:
  #       description: Product retail/selling price in cents
  #       type: integer
  #       default: 0
  #     total_quantity:
  #       description: Total quantity of the product in stock
  #       type: integer
  #       default: 0
  #     remain_quantity:
  #       description: Remaining quantity available for sale
  #       type: integer
  #       default: 0
  #     duration:
  #       description: Product duration/validity period in days
  #       type: integer
  #       nullable: true
  #     creator_id:
  #       description: ID of the user who created the product
  #       format: uuid
  #       type: string
  #   required:
  #     - name
  #   type: object

  Ticket:
    title: Ticket
    type: object
    description: |
      A ticket represents a task, issue, or work item associated with a workspace.
      Tickets are used to track work progress, assignments, and priorities across the team.
    properties:
      id:
        description: Unique identifier (UUID) of the ticket.
        format: uuid
        type: string
        example: "b20d47ba-cc24-421c-92f6-f59da03b0ce4"
      display_id:
        description: Human-readable sequential ID of the ticket within the workspace.
        type: integer
        example: 1
      ticket_id:
        description: Custom ticket identifier (zero-padded sequential code).
        type: string
        nullable: true
        example: "00001"
      title:
        description: Title or short summary of the ticket.
        type: string
        example: "Unable to update member information"
      description:
        description: Detailed description of the ticket.
        type: string
        nullable: true
      note:
        description: Additional notes or comments about the ticket.
        type: string
        nullable: true
      category:
        description: Category classification of the ticket.
        type: string
        nullable: true
        example: "order"
      status:
        description: Current status of the ticket.
        type: string
        default: "new"
        example: "in_progress"
        enum:
          - new
          - in_progress
          - completed
      priority:
        description: Priority level of the ticket.
        type: string
        nullable: true
        example: "medium"
        enum:
          - low
          - medium
          - high
      due_date:
        description: The date and time when the ticket is due.
        type: string
        format: date-time
        nullable: true
        example: "2026-02-07T09:37:25"
      completed_at:
        description: The date and time when the ticket was completed.
        type: string
        format: date-time
        nullable: true
      assignee_ids:
        description: |
          User ID assigned to this ticket. Required.
        type: array
        minItems: 1
        maxItems: 1
        items:
          type: string
          format: uuid
        example:
          - "4db4c09e-5fb6-47e7-a4d9-3ad49110155d"
      related_owner:
        description: |
          User IDs of everyone else related to this ticket.
        type: array
        nullable: true
        items:
          type: string
          format: uuid
        example:
          - "d1e93867-cc3c-4efe-8280-7b34ab80ba12"
          - "0ff972fd-19a6-487e-b7ce-2398cdc8b875"
      creator_id:
        description: ID of the user who created the ticket.
        type: string
        format: uuid
        example: "0ff972fd-19a6-487e-b7ce-2398cdc8b875"
      extra_info:
        description: Dynamic custom fields defined by users.
        type: object
        additionalProperties: true
        nullable: true
        example:
          is_sample_data: true
      kanban_order:
        description: Ordering key used to sort tickets on a kanban board.
        type: string
        nullable: true
        example: "62"
      source:
        type: array
        items:
          type: integer
          $ref: '#/definitions/Source/properties/id'
        description: |
          Array of integer IDs referencing the sources this lead came from.
          [Source schema](#/schemas/Source)
        example: ["-11"]
      record_relations:
        description: |
          List of related record associations for this ticket
          (e.g. linked tasks, orders, deals, records or other tickets).
        type: array
        items:
          type: object
      contact_id:
        description: |
          ID of the contact this ticket is linked to. Required.
          The value is the `id` of a [record](#/schemas/Record) in the `contact` table.
        type: string
        format: uuid
        example: "0c1649c6-2297-4835-9a68-8fdd1d348d8b"
      is_removed:
        description: Whether the ticket has been soft-deleted.
        type: boolean
        default: false
        example: false
      inserted_at:
        description: The date and time when the ticket was created.
        type: string
        format: date-time
        example: "2026-02-04T10:14:32.683430"
      updated_at:
        description: The date and time when the ticket was last updated.
        type: string
        format: date-time
        example: "2026-02-04T10:14:32.683430"
    required:
      - title
      - contact_id
      - assignee_ids

  Order:
    title: Order
    type: object
    description: |
      A sales order belonging to a workspace. An order groups line items (`items`), payment
      information, and links to related records (contact, account, deal, calendar) through
      `record_relations`. Monetary amounts are integers in the workspace currency's smallest
      practical unit (for VND this is the dong, with no decimals).
    properties:
      id:
        description: Unique identifier (UUID) of the order.
        format: uuid
        type: string
        example: "b20d47ba-cc24-421c-92f6-f59da03b0ce4"
      workspace_id:
        description: ID of the workspace the order belongs to.
        type: integer
        example: 2
      display_id:
        description: Human-readable sequential ID of the order within the workspace (rendered as `OD{display_id}`).
        type: integer
        example: 12
      custom_id:
        description: Custom order code/identifier.
        type: string
        nullable: true
        example: "OD00012"
      status:
        description: Current status of the order.
        type: string
        default: "new"
        example: "new"
      bill_phone_number:
        description: Billing phone number (defaults to the linked contact's phone number).
        type: string
        nullable: true
        example: "0972273341"
      bill_full_name:
        description: Billing full name.
        type: string
        nullable: true
      bill_email:
        description: Billing email (defaults to the linked contact's email).
        type: string
        nullable: true
      note:
        description: Free-text note on the order.
        type: string
        nullable: true
      note_image:
        description: List of image URLs attached to the note.
        type: array
        nullable: true
        items:
          type: string
      assigning_seller_id:
        description: ID of the user (seller) assigned to handle this order.
        type: string
        format: uuid
        nullable: true
        example: "4db4c09e-5fb6-47e7-a4d9-3ad49110155d"
      creator_id:
        description: ID of the user who created the order.
        type: string
        format: uuid
        nullable: true
      related_owner:
        description: List of additional user IDs related as owners of this order.
        type: array
        nullable: true
        items:
          type: string
          format: uuid
      total_quantity:
        description: Total quantity across all line items (computed server-side).
        type: integer
        example: 3
      discount:
        description: Order-level discount amount.
        type: integer
        example: 0
      total_discount:
        description: Sum of line-item discounts (computed server-side).
        type: integer
        example: 0
      transfer_money:
        description: Amount paid by bank transfer.
        type: integer
        example: 0
      surcharge:
        description: Additional surcharge added to the order total.
        type: integer
        example: 0
      cod:
        description: |
          Cash-on-delivery amount due, computed as
          `sum(item totals) + surcharge - discount - prepaid`.
        type: integer
        example: 150000
      prepaid:
        description: Total amount already paid (`deposit + cash + transfer_money`).
        type: integer
        example: 0
      deposit:
        description: Deposit amount paid up front.
        type: integer
        example: 0
      cash:
        description: |
          Cash portion of the prepaid amount (`prepaid - transfer_money - deposit`).
          Computed virtual field, present in responses only.
        type: integer
        example: 0
      source_ids:
        description: Array of source IDs the order is attributed to.
        type: array
        nullable: true
        items:
          type: string
        example: ["-11"]
      is_removed:
        description: Whether the order has been soft-deleted.
        type: boolean
        default: false
        example: false
      extra_infor:
        description: Dynamic custom fields. Also stores derived helpers such as `item_product_ids` and `item_prices`.
        type: object
        additionalProperties: true
        nullable: true
      items:
        description: Line items belonging to this order.
        type: array
        items:
          $ref: '#/definitions/OrderItem'
      record_relations:
        description: |
          Records linked to this order (e.g. the related `contact`, `account`, `deal`).
          Each relation embeds the resolved `record` object when available.
        type: array
        items:
          type: object
          properties:
            table_name:
              type: string
              example: "contact"
            type:
              type: string
              example: "order"
            record_id:
              type: string
            related_id:
              type: string
            record:
              type: object
              additionalProperties: true
              nullable: true
      rating:
        description: Latest rating associated with the order, if any.
        type: object
        nullable: true
      inserted_at:
        description: The date and time when the order was created.
        type: string
        format: date-time
        example: "2026-02-04T10:14:32.683430"
      updated_at:
        description: The date and time when the order was last updated.
        type: string
        format: date-time
        example: "2026-02-04T10:14:32.683430"

  OrderItem:
    title: Order Item
    type: object
    description: A single line item within an order.
    properties:
      id:
        description: Unique identifier (UUID) of the line item.
        type: string
        format: uuid
      order_id:
        description: ID of the order this item belongs to.
        type: string
        format: uuid
      product_id:
        description: ID of the product for this line item.
        type: string
        format: uuid
        nullable: true
      quantity:
        description: Quantity ordered.
        type: integer
        example: 2
      price:
        description: Unit price.
        type: integer
        example: 75000
      discount:
        description: Per-unit discount.
        type: integer
        example: 0
      total_discount:
        description: Total discount applied to this line (`subtotal - total_price`).
        type: integer
        example: 0
      total_price:
        description: Final total for this line after discount.
        type: integer
        example: 150000
      variation_info:
        description: Snapshot of the product/variation at the time of ordering.
        type: object
        nullable: true
        properties:
          name:
            type: string
            example: "Áo thun nam"
          retail_price:
            type: integer
          import_price:
            type: integer
          images:
            type: array
            items:
              type: string
          product_id:
            type: string
            format: uuid
          category_ids:
            type: array
            items:
              type: integer
          type:
            type: string
          start_time:
            type: string
            format: date-time
            nullable: true
          end_time:
            type: string
            format: date-time
            nullable: true
          duration:
            type: integer
            nullable: true
          service_info:
            type: object
            additionalProperties: true
            nullable: true
      workspace_id:
        type: integer
      inserted_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time

  Source:
    type: object
    description: |
      The source of the customer (lead source).
      This field is shared and consistent across the entire workspace.
      Common values include: Facebook, Google, TikTok, Whatsapp, Shopee, Zalo, etc.
    properties:
      id:
        description: >
          Unique identifier (Integer) of the customer source record.
        format: integer
        type: string
      name:
        type: string
        example: "Facebook"
      parent_id:
        type: integer
        nullable: true
        example: 50
      image:
        type: string
        nullable: true
        example: "https://crm.pancake.vn/v2/images/logo.svg"
      is_removed:
        type: boolean
        default: false
      custom_id:
        type: string
        nullable: true
      link:
        type: string
        nullable: true
    required:
      - name
    type: object

  PancakeTag:
    title: Pancake Tag
    type: object
    description: |
      A label/tag used to classify records within a workspace.
      Tags are shared across the workspace and typically used for segmentation,
      filtering, and note-keeping on customer records.
    properties:
      id:
        type: string
        description: Unique identifier of the pancake tag.
        example: "104943019063372_11"
      text:
        type: string
        description: Display label of the tag.
        example: "Quality Check"
      description:
        type: string
        nullable: true
        description: Optional note describing the tag's purpose.
        example: "Tag used to classify orders requiring quality check before shipping"
      color:
        type: string
        description: Primary color of the tag in HEX format.
        example: "#138809"
      lighten_color:
        type: string
        description: Background/lightened color of the tag in RGBA format.
        example: "rgba(19,136,9,0.4)"
    required:
      - id
      - text

  Product:
    title: Product
    type: object
    description: |
      A product, service, or service package sold by a workspace.

      The `type` field determines how the entry behaves:
      - `product` — a physical/inventory item; `remain_quantity` is tracked.
      - `service` — a bookable service; `duration` (in minutes) applies, `remain_quantity` is ignored.
      - `service_package` — a bundle of services; `service_package_product` lists the
        component services with their quantities. `remain_quantity` and `duration` are ignored.

      Monetary amounts are integers in the workspace currency's smallest practical unit
      (for VND this is the dong, with no decimals).
    required:
      - name
    properties:
      id:
        description: Unique identifier (UUID) of the product. Omit when creating; provide when updating.
        type: string
        format: uuid
        example: "3a5b1b0e-88bd-4d34-9a4b-2c4f4be21f38"
      name:
        description: Product name.
        type: string
        example: "Áo thun nam"
      type:
        description: Product type. Defaults to `product` on create.
        type: string
        enum:
          - product
          - service
          - service_package
        default: "product"
        example: "product"
      custom_id:
        description: Custom product code (unique per workspace).
        type: string
        nullable: true
        example: "SKU-001"
      description:
        description: Free-text description of the product.
        type: string
        nullable: true
      images:
        description: List of image URLs for the product.
        type: array
        nullable: true
        items:
          type: string
        example: ["https://static.pancake.vn/pancake/products/example.jpg"]
      category_ids:
        description: IDs of the categories this product belongs to.
        type: array
        nullable: true
        items:
          type: string
          format: uuid
      retail_price:
        description: Selling price per unit.
        type: integer
        default: 0
        example: 150000
      import_price:
        description: Cost/import price per unit.
        type: integer
        default: 0
        example: 90000
      remain_quantity:
        description: |
          Current stock on hand. Only meaningful for `type: product` —
          stripped server-side for `service` and `service_package`.
        type: integer
        default: 0
        example: 42
      duration:
        description: |
          Service duration in minutes. Only meaningful for `type: service` —
          stripped server-side for `product` and `service_package`.
        type: integer
        nullable: true
        example: 60
      is_removed:
        description: Whether the product has been soft-deleted.
        type: boolean
        default: false
      product_attributes:
        description: |
          Attribute definitions used to build variations (e.g. Color, Size).
          Each attribute declares a `name` and its allowed `values`.
        type: array
        items:
          $ref: '#/definitions/ProductAttribute'
      variations:
        description: |
          Product variations (e.g. Red / Size L). On write, this array fully replaces
          the current variations: existing rows whose `custom_id` is missing from the
          new list are deleted, matching rows are updated, and new ones are inserted.
        type: array
        items:
          $ref: '#/definitions/ProductVariation'
      service_package_product:
        description: |
          Only for `type: service_package` — the component services included in the package,
          each with the quantity used per package. On write, fully replaces the existing links.
        type: array
        items:
          $ref: '#/definitions/ServicePackageProductItem'

  ProductAttribute:
    title: Product Attribute
    type: object
    description: A named attribute (e.g. Color, Size) whose values combine to form variations.
    required:
      - name
    properties:
      name:
        description: Attribute display name.
        type: string
        example: "Color"
      values:
        description: Allowed values for this attribute.
        type: array
        items:
          type: string
        example: ["Red", "Blue", "Green"]
      keyword:
        description: Optional keyword metadata per value (used by search / recognition features).
        type: array
        items:
          type: object
          additionalProperties: true

  ProductVariation:
    title: Product Variation
    type: object
    description: |
      A specific SKU of a product (e.g. Red / Size L). Variations override the parent
      product's `custom_id`, `retail_price`, `import_price`, `remain_quantity` and `images`.
    required:
      - custom_id
    properties:
      id:
        description: Unique identifier (UUID) of the variation. Omit when creating.
        type: string
        format: uuid
      custom_id:
        description: Variation SKU / custom code. Required and used as the merge key on update.
        type: string
        example: "SKU-001-RED-L"
      retail_price:
        description: Selling price per unit for this variation.
        type: integer
        default: 0
        example: 160000
      import_price:
        description: Cost/import price per unit for this variation.
        type: integer
        default: 0
      remain_quantity:
        description: Current stock on hand for this variation.
        type: integer
        default: 0
      images:
        description: Image URLs specific to this variation (falls back to the parent product's images if empty).
        type: array
        items:
          type: string
      sort_variation_attributes:
        description: |
          Canonical string of the variation's attribute values used for sorting/matching
          (typically the attribute values joined in a defined order, e.g. `"Red|L"`).
        type: string
        nullable: true
      extra_info:
        description: |
          Free-form additional metadata for the variation.

          Known keys:
          - `fb_catalog_id` — ID of the corresponding product in the Meta (Facebook) catalog.
            Used to fire conversion events (Purchase, AddToCart, …) so they match the right
            catalog item for ad optimization / attribution.
        type: object
        additionalProperties: true
        example:
          fb_catalog_id: "1234567890"
      is_removed:
        description: Whether the variation has been soft-deleted.
        type: boolean
        default: false

  ServicePackageProductItem:
    title: Service Package Component
    type: object
    description: |
      A component service inside a service package. Sent as an item of
      `Product.service_package_product` when creating/updating a `type: service_package`
      product. The full `Product` shape may be included on read (with the extra
      `service_package_product_quantity` field showing how many units of that service
      are consumed per package).
    required:
      - id
    properties:
      id:
        description: ID of the service product to include in the package.
        type: string
        format: uuid
      service_package_product_quantity:
        description: Quantity of this service consumed per package (write) / included per package (read).
        type: integer
        example: 1
x-explorer-enabled: false