swagger: '2.0'
schemes:
  - https
host: crm.pancake.vn
basePath: /api
info:
  contact:
    email: support@pancake.vn
    name: Pancake CRM Team
    url: 'https://zalo.me/0972273341'
  description: API for retrieving, updating, and deleting records from Pancake CRM.
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  title: Pancake CRM API Docs
  version: 2.0.0
  x-preferred: true
  x-providerName: pancake.vn

externalDocs:
  description: Pancake CRM API Documentation
  url: 'https://crm.pancake.vn/developers/'

consumes:
  - application/json
  - multipart/form-data

produces:
  - application/json

securityDefinitions:
  global:
    in: query
    name: api_key
    type: apiKey
    description: |
      API key is used to authenticate users when accessing the CRM API.

      You can generate an API key in Pancake CRM: Settings → Tools.

      The API key may be automatically disabled after a period of inactivity.

      ![How to get api key?](./assets/images/which-api-key.png)
security:
  - global: []

parameters:
  WorkspaceId:
    in: path
    name: workspace_id
    required: true
    type: integer
    description: The unique identifier of the workspace.

  TableName:
    in: path
    name: table_name
    required: true
    type: string
    enum:
      - lead
      - account
      - contact
    description: |
      The table of records. Accepts one of:
      - `lead`
      - `account`
      - `contact`

  TableNameQuery:
    in: query
    name: table_name
    required: true
    type: string
    enum:
      - lead
      - account
      - contact
    description: |
      The table of records. Accepts one of:
      - `lead`
      - `account`
      - `contact`

  RecordFilter:
    in: query
    name: filter
    type: string
    example: '{"fields":[]}'
    description: |
      Array object filter:
        {
          "fields": [
            {
              "field_name": "phone_number",
              "type": "$having_value",
              "is_filter_exclude": false
            }
          ]
        }

  RecordIds:
    name: record_ids[]
    in: query
    required: true
    description: List of record IDs to delete
    type: array
    items:
      type: string
      format: uuid
    collectionFormat: multi

  RecordViewId:
    in: query
    name: view_id
    type: string
    example: all
    description: |
      View identifier.
      Use `all` to return data from all views.

  Since:
    name: since
    in: query
    required: false
    type: integer
    format: int64
    example: 1672531200
    description: Start time in UNIX timestamp (UTC+0).

  Until:
    name: until
    in: query
    required: false
    type: integer
    format: int64
    example: 1672531200
    description: End time in UNIX timestamp (UTC+0).

  RecordId:
    description: The record ID
    in: path
    name: record_id
    required: true
    type: string

  Cursor:
    description: Pagination cursor from the previous page. The cursor value is returned in the previous response.
    in: query
    name: cursor
    type: string
    example: "g2wAAAADYR5uBgCKPA7SnAFtAAAAJDJmOTQxZWZlLWQ5YTMtNGQ5YS1hZmZlLWUxMjNiMDZiOGE0NGo"

  TicketId:
    description: The ticket ID (UUID).
    in: path
    name: ticket_id
    required: true
    type: string
    format: uuid

tags:
  - description: Manage records in a table
    name: Records
  - description: Manage tickets (tasks, issues, work items) in a workspace
    name: Tickets
  - description: Manage lead sources in a workspace
    name: Sources
  - description: Manage products in a workspace
    name: Products

paths:
  '/workspaces/{workspace_id}/{table_name}/records':
    get:
      description: List all the records in table. Only supports `lead`, `account`, `contact`.
      operationId: records
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordFilter'
        - $ref: '#/parameters/RecordViewId'
        - $ref: '#/parameters/Cursor'
      responses:
        '200':
          description: Record list returned
          schema:
            title: Records List
            type: object
            description: Records List
            properties:
              cursor:
                type: string
                description: Pagination cursor of the current page, used as a parameter to retrieve records from the next page
              # page_number:
              #   default: 1
              #   description: The page number of current results
              #   type: integer
              # page_size:
              #   default: 30
              #   description: The number of records returned within a single API call
              #   enum:
              #     - 30
              #     - 50
              #     - 100
              #   type: integer
              # total_entries:
              #   description: The number of all records available across pages
              #   type: integer
              # total_pages:
              #   description: The number of items returned on this page
              #   type: integer
              entries:
                description: List of record objects
                items:
                  $ref: '#/definitions/Record'
                type: array
      summary: List records
      tags:
        - Records
    post:
      description: |
        Insert or update a record in current table. Only supports `lead`, `account`, `contact`.
        <aside>Provide the record ID in the parameters to update an existing record. Otherwise, a new record will be created.</aside>
      operationId: recordCreate
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - description: Upsert record.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: Record upserted successfully
          schema:
            title: Upsert Response
            type: object
            description: Response object
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              data:
                description: The record object
                $ref: '#/definitions/Record'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            description: Error response object
            properties:
              success:
                description: Always false for error responses
                type: boolean
              message:
                type: object
        '422':
          description: "Customer information cannot be updated once it has been canceled, converted, or merged"
          schema:
            title: Response object
            type: object
            description: Response object
            properties:
              success:
                description: Always false for error responses
                type: boolean
              message:
                type: string
                enum:
                  - LEAD_CANNOT_UPDATE_FROM_CANCEL
        # '404':
        #   description: "Record doesn't exist"
      summary: Upsert record
      tags:
        - Records
    delete:
      summary: Delete records
      description: Remove multiple records from a table by record IDs. Only supports `lead`, `account`, `contact`.
      operationId: deleteRecords
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordIds'
      responses:
        '200':
          description: Records deleted successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indicates whether the delete operation was successful
              fallback:
                type: string
                example: 'success_only'
        # '404':
        #   description: Account not found
      tags:
        - Records
  '/workspaces/{workspace_id}/record/{record_id}':
    get:
      description: Retrieve a record by ID. Only supports `lead`, `account`, `contact`.
      operationId: record
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableNameQuery'
        - $ref: '#/parameters/RecordId'
      responses:
        '200':
          description: Record returned
          schema:
            title: Record Response
            type: object
            description: Single record response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: The record object
                $ref: '#/definitions/Record'
        # '404':
        #   description: User not found
      summary: Get record
      tags:
        - Records

  '/workspaces/{workspace_id}/products':
    get:
      description: List all the products in a workspace.
      operationId: listProducts
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - name: page
          in: query
          type: integer
          default: 1
          description: Page number for pagination
        - name: page_size
          in: query
          type: integer
          default: 30
          description: Number of products per page
      responses:
        '200':
          description: Products returned
          schema:
            title: Products List
            type: object
            description: Products list response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: List of product objects
                items:
                  $ref: '#/definitions/Product'
                type: array
      summary: List products
      tags:
        - Products
    post:
      description: Create a new product in the workspace.
      operationId: createProduct
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - description: Product body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        '200':
          description: Product created successfully
          schema:
            title: Product Create Response
            type: object
            description: Response object after creating a product
            properties:
              success:
                description: Indicates whether the create operation was successful
                type: boolean
              data:
                description: The created product object
                $ref: '#/definitions/Product'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            description: Error response object
            properties:
              success:
                description: Always false for error responses
                type: boolean
              message:
                type: object
        '422':
          description: "Invalid product payload"
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Create product
      tags:
        - Products

  '/workspaces/{workspace_id}/products/{product_id}':
    put:
      description: Update an existing product by ID. Only provided fields will be updated.
      operationId: updateProduct
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - description: The product ID
          in: path
          name: product_id
          required: true
          type: string
          format: uuid
        - description: Product fields to update
          in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              data:
                $ref: '#/definitions/Product'
            required:
              - data
      responses:
        '200':
          description: Product updated successfully
          schema:
            title: Product Update Response
            type: object
            description: Response object after updating a product
            properties:
              success:
                description: Indicates whether the update operation was successful
                type: boolean
              data:
                description: The updated product object
                $ref: '#/definitions/Product'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: object
        '404':
          description: Product not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Update product
      tags:
        - Products

  '/workspaces/{workspace_id}/tickets':
    get:
      description: List all the tickets in a workspace.
      operationId: listTickets
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/Cursor'
      responses:
        '200':
          description: Tickets returned
          schema:
            title: Tickets List
            type: object
            description: Tickets list response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              entries:
                description: List of ticket objects
                items:
                  $ref: '#/definitions/Ticket'
                type: array
      summary: List tickets
      tags:
        - Tickets
    post:
      description: Create a new ticket in the workspace.
      operationId: createTicket
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - description: Ticket body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Ticket'
      responses:
        '200':
          description: Ticket created successfully
          schema:
            title: Ticket Create Response
            type: object
            description: Response object after creating a ticket
            properties:
              success:
                description: Indicates whether the create operation was successful
                type: boolean
              data:
                description: The created ticket object
                $ref: '#/definitions/Ticket'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            description: Error response object
            properties:
              success:
                description: Always false for error responses
                type: boolean
              message:
                type: object
        '422':
          description: "Invalid ticket payload"
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Create ticket
      tags:
        - Tickets

  '/workspaces/{workspace_id}/tickets/{ticket_id}':
    get:
      description: Retrieve a ticket by ID.
      operationId: getTicket
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TicketId'
      responses:
        '200':
          description: Ticket returned
          schema:
            title: Ticket Response
            type: object
            description: Single ticket response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: The ticket object
                $ref: '#/definitions/Ticket'
        '404':
          description: Ticket not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Get ticket
      tags:
        - Tickets
    put:
      description: Update an existing ticket by ID. Only provided fields will be updated.
      operationId: updateTicket
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TicketId'
        - description: Ticket fields to update
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Ticket'
      responses:
        '200':
          description: Ticket updated successfully
          schema:
            title: Ticket Update Response
            type: object
            description: Response object after updating a ticket
            properties:
              success:
                description: Indicates whether the update operation was successful
                type: boolean
              data:
                description: The updated ticket object
                $ref: '#/definitions/Ticket'
        '403':
          description: "Forbidden, insufficient permissions"
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: object
        '404':
          description: Ticket not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Update ticket
      tags:
        - Tickets
    delete:
      description: Delete a ticket by ID.
      operationId: deleteTicket
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TicketId'
      responses:
        '200':
          description: Ticket deleted successfully
          schema:
            title: Ticket Delete Response
            type: object
            properties:
              success:
                type: boolean
                description: Indicates whether the delete operation was successful
        '404':
          description: Ticket not found
          schema:
            title: Error Response
            type: object
            properties:
              success:
                type: boolean
              message:
                type: string
      summary: Delete ticket
      tags:
        - Tickets

  '/workspaces/{workspace_id}/sources':
    get:
      description: List all the sources in workspace
      operationId: source
      parameters:
        - $ref: '#/parameters/WorkspaceId'
      responses:
        '200':
          description: Sources returned
          schema:
            title: Source List
            type: object
            description: Source object in source list
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: List of source objects
                items:
                  $ref: '#/definitions/Source'
                type: array
        # '404':
        #   description: User not found
      summary: Sources
      tags:
        - Sources

  '/workspaces/{workspace_id}/pages/pancake_tags':
    get:
      description: List all the pancake tags in workspace
      operationId: listPancakeTags
      parameters:
        - $ref: '#/parameters/WorkspaceId'
      responses:
        '200':
          description: Pancake tags returned
          schema:
            title: Pancake Tag List
            type: object
            description: Pancake tag list response
            properties:
              success:
                description: Indicates whether the request was successful
                type: boolean
              data:
                description: List of pancake tag objects
                items:
                  $ref: '#/definitions/PancakeTag'
                type: array
        # '404':
        #   description: User not found
      summary: List pancake tags
      tags:
        - PancakeTags

definitions:
  Record:
    description: 'Creates a new record if it does not exist, otherwise updates the existing record based on a unique key'
    properties:
      id:
        description: >
          Record ID. If provided, the record will be updated.
          If omitted, a new record will be created.
        format: uuid
        type: string
      name:
        description: Record name
        type: string
      phone_number:
        description: Record phone number
        type: string
      email:
        description: Record owner email
        type: string
      birthday:
        description: The customer's/lead's date of birth (ISO 8601 format).
        format: date-time
        type: string
      pancake_tags:
        type: array
        items:
          $ref: '#/definitions/PancakeTag/properties/id'
        description: |
          Array of pancake tag IDs applied to this record.
          [Pancake Tag schema](#/schemas/PancakeTag)
        example: ["104943019063372_11"]
      source:
        type: array
        items:
          type: integer
          # format: integer
          $ref: '#/definitions/Source/properties/id'
        description: |
          Array of integer IDs referencing the sources this lead came from.
          [Source schema](#/schemas/Source)
        example: ["-11"]
      full_address:
        type: string
        description: |
          The full address of the lead/customer.

          This field stores the complete physical or mailing address associated with the lead record.
          It is typically used for:
          - Delivery/shipping purposes
          - Location-based segmentation or targeting
          - Compliance and reporting (e.g., geographic analytics)
          - Contact verification

          Recommended format (Vietnam common style):
          - Street number + Street name, Ward/Commune, District, City/Province, Country
        example:
          "Số 126 Hàng Trống, Phường Hoàn Kiếm, Hà Nội, Việt Nam"
      created_by:
        description: ID of the user who created the record
        format: uuid
        type: string
      modified_by:
        description: ID of the user who last modified the record
        format: uuid
        type: string
      created_on:
        description: The date and time when the record was created.
        format: date-time
        type: string
      modified_on:
        description: The date and time when the record was last modified.
        format: date-time
        type: string
      owner:
        description: List of user IDs who own this record
        type: array
        items:
          type: string
          format: uuid
      # extra_infor:
      #   description: Dynamic custom fields defined by users
      #   type: object
      #   additionalProperties: true
      # additionalProperties:
      #   description: User-defined custom fields
      #   oneOf:
      #     - type: string
      #     - type: number
      #     - type: boolean
      #     - type: array
      #     - type: object
    required:
      - name
    type: object

  Product:
    description: 'A product in the workspace'
    type: object
    properties:
      id:
        description: Product ID (UUID)
        format: uuid
        type: string
      name:
        description: Product name
        type: string
      type:
        description: Product type/category
        type: string
      display_id:
        description: Human-readable sequential ID of the product within the workspace
        type: integer
      custom_id:
        description: Custom product identifier
        type: string
        nullable: true
      category_ids:
        description: Array of category IDs this product belongs to
        type: array
        items:
          type: string
          format: uuid
      images:
        description: Array of product image URLs
        type: array
        items:
          type: string
        example:
          - "https://content.pancake.vn/2-25/s100x100/2025/9/22/cc3819d7a9df512eba67f1da7ab5eb698c6d951c.jpg"
      description:
        description: Product description
        type: string
        nullable: true
      import_price:
        description: Product import/cost price in cents
        type: integer
        default: 0
      retail_price:
        description: Product retail/selling price in cents
        type: integer
        default: 0
      total_quantity:
        description: Total quantity of the product in stock
        type: integer
        default: 0
      remain_quantity:
        description: Remaining quantity available for sale
        type: integer
        default: 0
      duration:
        description: Product duration/validity period in days
        type: integer
        nullable: true
      creator_id:
        description: ID of the user who created the product
        format: uuid
        type: string
    required:
      - name
    type: object

  Ticket:
    title: Ticket
    type: object
    description: |
      A ticket represents a task, issue, or work item associated with a workspace.
      Tickets are used to track work progress, assignments, and priorities across the team.
    properties:
      id:
        description: Unique identifier (UUID) of the ticket.
        format: uuid
        type: string
        example: "b20d47ba-cc24-421c-92f6-f59da03b0ce4"
      display_id:
        description: Human-readable sequential ID of the ticket within the workspace.
        type: integer
        example: 1
      ticket_id:
        description: Custom ticket identifier (zero-padded sequential code).
        type: string
        nullable: true
        example: "00001"
      title:
        description: Title or short summary of the ticket.
        type: string
        example: "Unable to update member information"
      description:
        description: Detailed description of the ticket.
        type: string
        nullable: true
      note:
        description: Additional notes or comments about the ticket.
        type: string
        nullable: true
      category:
        description: Category classification of the ticket.
        type: string
        nullable: true
        example: "order"
      status:
        description: Current status of the ticket.
        type: string
        default: "new"
        example: "in_progress"
        enum:
          - new
          - in_progress
          - completed
          - cancelled
      priority:
        description: Priority level of the ticket.
        type: string
        nullable: true
        example: "medium"
        enum:
          - low
          - medium
          - high
          - urgent
      due_date:
        description: The date and time when the ticket is due.
        type: string
        format: date-time
        nullable: true
        example: "2026-02-07T09:37:25"
      completed_at:
        description: The date and time when the ticket was completed.
        type: string
        format: date-time
        nullable: true
      assignee_ids:
        description: List of user IDs assigned to this ticket.
        type: array
        items:
          type: string
          format: uuid
        example:
          - "4db4c09e-5fb6-47e7-a4d9-3ad49110155d"
          - "d1e93867-cc3c-4efe-8280-7b34ab80ba12"
      related_owner:
        description: List of user IDs related as owners of this ticket.
        type: array
        nullable: true
        items:
          type: string
          format: uuid
      creator_id:
        description: ID of the user who created the ticket.
        type: string
        format: uuid
        example: "0ff972fd-19a6-487e-b7ce-2398cdc8b875"
      extra_info:
        description: Dynamic custom fields defined by users.
        type: object
        additionalProperties: true
        nullable: true
        example:
          is_sample_data: true
      kanban_order:
        description: Ordering key used to sort tickets on a kanban board.
        type: string
        nullable: true
        example: "62"
      source:
        type: array
        items:
          type: integer
          $ref: '#/definitions/Source/properties/id'
        description: |
          Array of integer IDs referencing the sources this lead came from.
          [Source schema](#/schemas/Source)
        example: ["-11"]
      record_relations:
        description: |
          List of related record associations for this ticket
          (e.g. linked tasks, orders, deals, records or other tickets).
        type: array
        items:
          type: object
      contact_id:
        description: ID of the related contact/record this ticket is linked to.
        type: string
        format: uuid
        nullable: true
        example: "0c1649c6-2297-4835-9a68-8fdd1d348d8b"
      is_removed:
        description: Whether the ticket has been soft-deleted.
        type: boolean
        default: false
        example: false
      inserted_at:
        description: The date and time when the ticket was created.
        type: string
        format: date-time
        example: "2026-02-04T10:14:32.683430"
      updated_at:
        description: The date and time when the ticket was last updated.
        type: string
        format: date-time
        example: "2026-02-04T10:14:32.683430"
    required:
      - title

  Source:
    type: object
    description: |
      The source of the customer (lead source).
      This field is shared and consistent across the entire workspace.
      Common values include: Facebook, Google, TikTok, Whatsapp, Shopee, Zalo, etc.
    properties:
      id:
        description: >
          Unique identifier (Integer) of the customer source record.
        format: integer
        type: string
      name:
        type: string
        example: "Facebook"
      parent_id:
        type: integer
        nullable: true
        example: 50
      image:
        type: string
        nullable: true
        example: "https://crm.pancake.vn/v2/images/logo.svg"
      is_removed:
        type: boolean
        default: false
      custom_id:
        type: string
        nullable: true
      link:
        type: string
        nullable: true
    required:
      - name
    type: object

  PancakeTag:
    title: Pancake Tag
    type: object
    description: |
      A label/tag used to classify records within a workspace.
      Tags are shared across the workspace and typically used for segmentation,
      filtering, and note-keeping on customer records.
    properties:
      id:
        type: string
        description: Unique identifier of the pancake tag.
        example: "104943019063372_11"
      text:
        type: string
        description: Display label of the tag.
        example: "Quality Check"
      description:
        type: string
        nullable: true
        description: Optional note describing the tag's purpose.
        example: "Tag used to classify orders requiring quality check before shipping"
      color:
        type: string
        description: Primary color of the tag in HEX format.
        example: "#138809"
      lighten_color:
        type: string
        description: Background/lightened color of the tag in RGBA format.
        example: "rgba(19,136,9,0.4)"
    required:
      - id
      - text
x-explorer-enabled: false