swagger: '2.0'
schemes:
  - https
host: crm.pancake.vn/
basePath: /api
info:
  contact:
    email: support@pancake.vn
    name: Pancake CRM Team
    url: 'https://zalo.me/0972273341'
  description: API for retrieving, updating, and deleting records from Pancake CRM.
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  title: CRM API Docs
  version: 2.0.0
  x-preferred: true
  x-providerName: pancake.vn

externalDocs:
  description: Pancake CRM API Documentation
  url: 'https://crm.pancake.vn/developers/'

consumes:
  - application/json
  - multipart/form-data

produces:
  - application/json

securityDefinitions:
  global:
    in: query
    name: api_key
    type: apiKey
    description: |
      API key is used to authenticate users when accessing the CRM API.

      You can generate an API key in Pancake CRM: Settings → Tools.

      The API key may be automatically disabled after a period of inactivity.

      ![How to get api key?](./assets/images/which-api-key.png)
security:
  - global: []

parameters:
  WorkspaceId:
    in: path
    name: workspace_id
    required: true
    type: integer
    description: The unique identifier of the workspace.

  TableName:
    in: path
    name: table_name
    required: true
    type: string
    description: The table of records.

  TableNameQuery:
    in: query
    name: table_name
    required: true
    type: string
    description: The table of records.

  RecordFilter:
    in: query
    in: query
    name: filter
    schema:
      type: string
      example: '{"fields":[]}'
    description: |
      Array object filter:
        {
          "fields": [
            {
              "field_name": "phone_number",
              "type": "$having_value",
              "is_filter_exclude": false
            }
          ]
        }

  RecordIds:
    name: record_ids[]
    in: query
    required: true
    description: List of record IDs to delete
    type: array
    items:
      type: string
      format: uuid
    collectionFormat: multi

  RecordViewId:
    in: query
    name: view_id
    schema:
      type: string
      example: all
    description: |
      View identifier.
      Use `all` to return data from all views.

  Since:
    name: since
    in: query
    required: false
    schema:
      type: integer
      format: int64
      example: 1672531200
    description: Start time in UNIX timestamp (UTC+0).

  Until:
    name: until
    in: query
    required: false
    schema:
      type: integer
      format: int64
      example: 1672531200
    description: Start time in UNIX timestamp (UTC+0).

  RecordId:
    description: The record ID
    in: path
    name: record_id
    required: true
    type: string

  Cursor:
    description: Pagination cursor from the previous page. The cursor value is returned in the previous response.
    in: query
    name: cursor
    type: string
    example: "g2wAAAADYR5uBgCKPA7SnAFtAAAAJDJmOTQxZWZlLWQ5YTMtNGQ5YS1hZmZlLWUxMjNiMDZiOGE0NGo"

tags:
  - description: Upsert Record
    name: Record

paths:
  '/workspaces/{workspace_id}/{table_name}/records':
    get:
      description: List all the records in table
      operationId: records
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordFilter'
        - $ref: '#/parameters/RecordViewId'
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/PageNumber'
        - $ref: '#/parameters/Cursor'
      responses:
        '200':
          description: Record list returned
          schema:
            title: Records List
            type: object
            description: Records List
            properties:
              cursor:
                type: string
                description: Pagination cursor of the current page, used as a parameter to retrieve records from the next page
              # page_number:
              #   default: 1
              #   description: The page number of current results
              #   type: integer
              # page_size:
              #   default: 30
              #   description: The number of records returned within a single API call
              #   enum:
              #     - 30
              #     - 50
              #     - 100
              #   type: integer
              # total_entries:
              #   description: The number of all records available across pages
              #   type: integer
              # total_pages:
              #   description: The number of items returned on this page
              #   type: integer
              entries:
                description: List of record objects
                items:
                  $ref: '#/definitions/Record'
                type: array
      summary: List records
      tags:
        - Records
    post:
      description: Insert or update a record in current table. <aside>Provide the record ID in the parameters to update an existing record. Otherwise, a new record will be created.</aside>
      operationId: recordCreate
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - description: Upsert record.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: Record returned
          schema:
            title: Records List
            type: object
            description: Response object
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              data:
                description: The record object
                $ref: '#/definitions/Record'
        '403':
          description: "Forbidden, has not permissions"
          schema:
            title: Response object
            type: object
            description: Response object
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              message:
                type: object
        '422':
          description: "Customer information cannot be updated once it has been canceled, converted, or merged"
          schema:
            title: Response object
            type: object
            description: Response object
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              message:
                type: string
                enum:
                  - LEAD_CANNOT_UPDATE_FROM_CANCEL
        # '404':
        #   description: "Record doesn't exist"
      summary: Upsert record
      tags:
        - Records
    delete:
      summary: Delete records
      description: Remove multiple records from a table by record IDs
      operationId: deleteRecords
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableName'
        - $ref: '#/parameters/RecordIds'
      responses:
        '200':
          description: Records deleted successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
                description: Indicates whether the delete operation was successful
              fallback:
                type: string
                example: 'success_only'
        # '404':
        #   description: Account not found
      tags:
        - Records
  '/workspaces/{workspace_id}/record/{record_id}':
    get:
      description: Retrieve a record by ID. <aside></aside>
      operationId: record
      parameters:
        - $ref: '#/parameters/WorkspaceId'
        - $ref: '#/parameters/TableNameQuery'
        - $ref: '#/parameters/RecordId'
      responses:
        '200':
          description: Record returned
          schema:
            title: Records List
            type: object
            description: Record object in record list
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              data:
                description: The record response
                $ref: '#/definitions/Record'
        # '404':
        #   description: User not found
      summary: Record
      tags:
        - Records

  '/workspaces/{workspace_id}/sources':
    get:
      description: List all the sources in workspace
      operationId: source
      parameters:
        - $ref: '#/parameters/WorkspaceId'
      responses:
        '200':
          description: Sources returned
          schema:
            title: Source List
            type: object
            description: Source object in source list
            properties:
              success:
                description: Indicates whether the upsert operation was successful
                type: boolean
              data:
                description: List of source objects
                items:
                  $ref: '#/definitions/Source'
                type: array
        # '404':
        #   description: User not found
      summary: Sources
      tags:
        - Sources

definitions:
  Record:
    description: 'Creates a new record if it does not exist, otherwise updates the existing record based on a unique key'
    properties:
      id:
        description: Record ID
        format: uuid
        type: string
        description: >
          Record ID. If provided, the record will be updated.
          If omitted, a new record will be created.
      name:
        description: Record name
        type: string
      phone_number:
        description: Record phone number
        type: string
      email:
        description: Record owner email
        type: string
      birthday:
        description: The customer's/lead's date of birth (ISO 8601 format).
        format: date-time
        type: string
      source:
        type: array
        items:
          type: integer
          # format: integer
          $ref: '#/definitions/Source/properties/id'
        description: |
          Array of integer IDs referencing the sources this lead came from.
          [Source schema](#/schemas/Source)
        example: ["-11"]
      full_address:
        type: string
        description: |
          The full address of the lead/customer.

          This field stores the complete physical or mailing address associated with the lead record.
          It is typically used for:
          - Delivery/shipping purposes
          - Location-based segmentation or targeting
          - Compliance and reporting (e.g., geographic analytics)
          - Contact verification

          Recommended format (Vietnam common style):
          - Street number + Street name, Ward/Commune, District, City/Province, Country
        example:
          "Số 126 Hàng Trống, Phường Hoàn Kiếm, Hà Nội, Việt Nam"
      created_by:
        description: ID of the user who created the record
        format: uuid
        type: string
      modified_by:
        description: ID of the user who last modified the record
        format: uuid
        type: string
      created_on:
        description: The date and time when the record was last created.
        format: date-time
        type: string
      modified_on:
        description: The date and time when the record was last modified.
        format: date-time
        type: string
      owner:
        description: List of user IDs who own this record
        type: array
        items:
          type: string
          format: uuid
      # extra_infor:
      #   description: Dynamic custom fields defined by users
      #   type: object
      #   additionalProperties: true
      # additionalProperties:
      #   description: User-defined custom fields
      #   oneOf:
      #     - type: string
      #     - type: number
      #     - type: boolean
      #     - type: array
      #     - type: object
    required:
      - name
    type: object

  Source:
    type: string
    description: |
      The origin/source of the customer (lead source).
      This field is shared and consistent across the entire workspace.
      Common values include: Facebook, Google, TikTok, Whatsapp, Shopee, Zalo, etc.
    properties:
      id:
        description: Source ID
        format: integer
        type: string
        description: >
          Unique identifier (Integer) of the customer source record.
      workspace_id:
          type: integer
          example: 123
      name:
        type: string
        example: "Facebook"
      parent_id:
        type: integer
        nullable: true
        example: 50
      image:
        type: string
        nullable: true
        example: "https://crm.pancake.vn/v2/images/logo.svg"
      is_removed:
        type: boolean
        default: false
      custom_id:
        type: string
        nullable: true
      link:
        type: string
        nullable: true
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
    required:
      - workspace_id
      - name
    type: object
x-explorer-enabled: false